@import "tailwindcss";

@keyframes fade {
  0% { opacity: 0; transform: scale(0.9); }
  10% { opacity: 1; transform: scale(1); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: scale(0.9); }
}

.animate-fade {
  animation: fade 2.5s ease-in-out forwards;
}
