html {
    font-family: Calibri;
}

.container {
    display: flex;
    justify-content: center;
}

.gestorPokemones {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pokemonesForm {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    accent-color:#FFCB08;
}

